@use "../base//variables" as *;

.social {
	display: flex;
	margin: 25px 0 30px;
	justify-content: center;

	&__img {
		border: 2px solid $color-white;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		object-fit: cover;

		&:not(:first-child) {
			margin-right: -8px;
		}
	}

	&__container {
		margin-left: 10px;
	}

	&__number {
		font-weight: 500;
	}

	&__text {
		margin-top: -5px;
		color: $color-grey-medium;
		font-size: 12px;
	}

}
