@use "../base/variables" as *;

.u-italic {
	font-style: italic;
}

.u-accent {
	color: $color-accent;
}

.u-underline {
	text-decoration: underline;
}

.u-bold {
	font-weight: 500;
}

.u-bolder {
	font-weight: 700;
}

.first-heading {
	font-weight: 600;
	font-size: 34px;
	line-height: 1;
	text-transform: uppercase;
}


.second-heading {
	color: #161616;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 6px;
}