@use "../base/variables" as *;

.u-italic {
	font-style: italic;
}

.u-accent {
	color: $color-accent;
}

.u-underline {
	text-decoration: underline;
}

.u-bold {
	font-weight: 500;
}

.u-bolder {
	font-weight: 700;
}